*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* header */
header{
    width: 100%;
    position: fixed;
}
header .container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
}
header .container .header nav ul{
    display: flex;
}
header .container .header nav ul li{
    margin-left: 30px;
}
.container{
    max-width: 68%;
    margin: 0 auto ;
}
header .container .header .header-left a{
    font-size: 24px;
    font-weight: 700;
    color: white;
    letter-spacing: 0.7px;
}
header nav ul li a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
}
header nav ul li a:hover{
    color: #fff;
}
/* start introduction */
#introduction{
    height: 100vh;
    background-image: url(../images/bg_3.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#introduction .intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#introduction .intro-text h1{
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px;
}
#introduction  .intro-text p{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
    text-align: center;
}
#introduction .intro-text button{
    width: 170px;
    height: 54px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    transition: 0.5s;
}
#introduction .intro-text button:hover{
    color: #000;
    background: #fff;
}
#introduction .intro-text button:hover a{
    color: #000;
}
#introduction .intro-text button a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}
/* start about */
#about .about-chef .about-right {
    width: 47%;
}
#about .about-chef .about-left {
    width: 47%;
}
#about .about-chef{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
#about .about-chef .about-right img{
    width: 100%;
    /* width: 540px;
    height: 361px; */
}
#about .about-chef .about-left h4{
    color: #D4D4D4;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
#about .about-chef .about-left h2{
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 15px;
}
#about .about-chef .about-left p{
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 24px;
    color: #B8B8B8;
}
#about .about-chef .about-left a{
    border: 1px solid #999999 ;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 54px;
    transition: 0.3s;
}
#about .about-chef .about-left a:hover{
    background-color: #FDA403 ;
    color: #fff;
    border: #FDA403;
}
/* start offer */
#offer .offer-top-bottom .offer-top h2{
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 8px;
}
#offer .offer-top-bottom .offer-top p{
    font-size: 20px;
    line-height: 24px;
    color: #B8B8B8;    text-align: center;
}
#offer .offer-top-bottom .offer-top h4{
    letter-spacing: 2px;
    color: #D4D4D4;
    font-size: 20px;
    margin-bottom: 4px;
}
#offer .offer-top-bottom .offer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}
#offer .offer-top-bottom .offer-bottom figure img{
    width: 100%;
}
#offer .offer-top-bottom .offer-bottom figure a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 40px;
    color: white;
    background-color: #FDA403;
    margin-bottom: 25px;
    transition: 0.3s;
}
#offer .offer-top-bottom .offer-bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
#offer{
    margin-top: 180px;
    padding-bottom: 140px;
    background-color: #f8f9fa;
    padding-top: 100px;
}
#offer .offer-top-bottom .offer-bottom figure figcaption p{
    margin-bottom: 15px;
    color: #B8B8B8;
    font-size: 18px;
    margin-bottom: 22px;
}
#offer .offer-top-bottom .offer-bottom figure figcaption h4{
    margin-bottom: 15px;
    color: #000;
    font-size: 24px;
}
#offer .offer-top-bottom .offer-bottom figure figcaption span{
    color: #FDA403;
    font-weight: 700;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
}
#offer .offer-top-bottom .offer-bottom figure figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#offer .offer-top-bottom .offer-bottom figure{
    background-color: #fff;
    width: 32%;
}


#offer .offer-top-bottom .offer-icons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#offer .offer-top-bottom .offer-icons i{
    margin-right: 10px;
    font-size: 12px;
    border: none; 
}
#offer .offer-top-bottom .offer-bottom figure a:hover{
    background-color: #c26708;
}
/* start menu */
#menu .menu-top-bottom .menu-bottom .menu-bottom-left{
    width: 47%;
}
#menu .menu-top-bottom .menu-bottom .menu-bottom-right{
    width: 47%;
}
#menu .menu-top-bottom .menu-top h2{
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 8px;
}
#menu .menu-top-bottom .menu-top p{
    font-size: 20px;
    line-height: 24px;
    color: #B8B8B8;
    text-align: center;
    letter-spacing: 0.7px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.menu-top{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#menu .menu-top-bottom .menu-top .intervals-day{
    display: flex;
}
#menu .menu-top-bottom .menu-top .intervals-day a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 42px;
    color: #ccc;
    border: 2px solid #ccc;
    text-transform: uppercase;
    margin-right: 15px;
}
#menu{
    padding-top: 110px;
}
#menu .menu-top-bottom .menu-top .intervals-day .breakfast{
    border: 2px solid #000;
    color: #000;
}
#menu .menu-bottom figure img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#menu .menu-bottom{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
#menu .menu-top-bottom .menu-bottom span{
    color: #FDA403;
    font-weight: 700;
    font-size: 22px;
    /* margin-top: 35px; */
    /* margin-bottom: 10px; */
}
#menu .menu-top-bottom .menu-bottom p{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #B8B8B8;
}
#menu .menu-top-bottom .menu-bottom h4{
    font-size: 20px;
}
#menu .menu-top-bottom .menu-bottom h2{
    font-size: 52px;
}
#menu .menu-top-bottom .menu-bottom figure{
    display: flex;
    margin-bottom: 36px;
}
#menu .menu-top-bottom .menu-bottom figure figcaption{
    margin-left: 14px;
}
/* start news */
#news .news-top-bottom .news-top h2{
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 8px;
}
#news .news-top-bottom .news-top p{
    font-size: 20px;
    line-height: 28px;
    color: #B8B8B8;
    letter-spacing: 0.7px;
    margin-top: 5px;
    /* text-align: center; */
}
#news .news-top-bottom .news-top{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 55px;
}
#news{
    margin-top: 180px;
    background-color: #f8f9fa;
    padding-top: 100px;
}
#news .news-top-bottom .news-bottom{
    display: flex;
    justify-content: space-between;
}
#news .news-top-bottom .news-bottom figure img{
    width: 100%;
}
#news .news-top-bottom .news-bottom h4{
    font-size: 24px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 12px;
}
#news .news-top-bottom .news-bottom figure{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-bottom: 120px;
}
#news .news-top-bottom .news-bottom figure figcaption{
    padding-left: 50px ;
    padding-right: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#news .news-top-bottom .news-bottom figure a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 40px;
    color: white;
    background-color: #FDA403;
    margin-top: 25px;
    margin-bottom: 50px;
    transition: 0.2s;
}
#news .news-top-bottom .news-bottom figure a:hover{
    background-color: #c26708;
}
#news .news-top-bottom .news-bottom figure figcaption p{
    color: #B8B8B8;
    line-height: 21px;
    font-size: 18px;
}
/* gallery */
#gallery .gallery-top-bottom .gallery-top h2{
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 8px;
}
#gallery .gallery-top-bottom .gallery-top p {
    font-size: 20px;
    line-height: 28px;
    color: #B8B8B8;
    letter-spacing: 0.7px;
    margin-top: 3px;
    text-align: center;
}
#gallery .gallery-top-bottom .gallery-top{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
#gallery .gallery-top-bottom .gallery-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#gallery .gallery-top-bottom .gallery-bottom div{
    /* width: 354px;
    height: 306px; */
    width: 32%;
    margin-bottom: 3px;
}
#gallery .gallery-top-bottom .gallery-bottom div img{
    width: 100%;
    height: 306px;
}
#gallery{
    padding-top: 110px;
}
/* contact */
#contact .contact-top-bottom .contact-top h2{
    font-size: 56px;
    font-weight: 200;
    margin-bottom: 8px;
}
#contact .contact-top-bottom .contact-top p {
    font-size: 20px;
    line-height: 28px;
    color: #B8B8B8;
    letter-spacing: 0.7px;
    margin-top: 2px;
    text-align: center;
}
#contact .contact-top{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
#contact{
    background-color:  #f8f9fa;
    padding-top: 100px;
    margin-top: 120px;
    padding-bottom: 100px;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left{
    display: flex;
    flex-direction: column;
}
#contact .contact-top-bottom .contact-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-right img{
    width: 100%;
    margin-bottom: 10px;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left input{
    padding: 20px 10px;
    width: 100%;
    height: 55px;
    background-color: #e6e6e6;
    border: none;
    margin-bottom: 12px;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left textarea{
    background-color: #e6e6e6;
    border: none;
    padding: 8px 8px;
    margin-bottom: 14px;
    height: 222px;

}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left{
    width: 57%;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-right{
    width: 31%;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left textarea::placeholder{
    font-size: 18px;
    opacity: 0.5;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left button{
    width: 181px;
    height: 52px;
    background-color: #FDA403;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}
#contact .contact-top-bottom .contact-bottom .contact-bottom-left button:hover{
    background-color: #c26708
}
#contact  .contact-bottom .contact-bottom-left input::placeholder {
    font-size: 18px;
    opacity: 0.5;
}
#contact .contact-bottom-right p{
    line-height: 22px;
    color: #000;
    font-size: 17px;
}
#contact .contact-bottom-right .email{
    color: #FDA403;
}
/* footer */
footer .footer-top-bottom .footer-top{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #222222;
    color: #ffffff99;
}

footer p{
    font-weight: bold;
    margin-bottom: 7px;

} 
footer .footer-top ul li a{
    color: #ffffff4d;
    font-size: 16px;
    line-height: 32px;
}
footer .footer-top a:hover{
    color: #FDA403;
}
footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
footer .footer-lorem span{
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff4d;
}
footer .footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
footer .footer-icons div{
    width:60px ;
    height:60px ;
    border-radius: 50%;
    background-color: #FFFFFF0D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 14px;
}
footer .footer-icons a i{
    font-size: 28px;
    color: white ;
}
footer .footer-icons a i:hover{
    color: #fff;
}
footer .copyright{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
footer .copyright {
    color: #FFFFFF4D ;
}
footer .copyright a{
    color: #FFFFFF4D;
}
footer .copyright a:hover{
    color: #FDA403
}
header .menu-category{
    display: none;
}
footer .footer-lorem{
    width: 38%;
}
footer .footer-restaurant{
    width: 20%;
}
footer .useful-links{
    width: 20%;
}
footer .footer-top-bottom .footer-top div{
    margin-right: 60px;
}
#offer .offer-top-bottom .offer-icons-tablet{
    display: none;
}
footer .footer-top p{
    font-size: 14px;
}

@media  (max-width: 768px) {
    .container{
        max-width: 93.75%;
    }
    /* header */
    header .menu-category{
        display: block;
        color: #FFFFFF80;
    }
    header .menu-category span{
        letter-spacing: 2px;
    }
    header .container .header .header-left a{
        font-size: 20px;
        letter-spacing: 2px;
    }
    header .container .header {
        height: 60px;
    }
    header{
        background-color: #000;
    }
    
    header nav{
        display: none;
    }
    .menu-category span i{
        margin-right: 4px;
    }
    /* introduction */
    #introduction .container .intro-text h1{
        font-size: 37px;
    }
    #introduction .container .intro-text p{
        font-size: 20px;
    }
    #introduction .container .intro-text button{
        width: 720px;
    }
    /* about */
    #about .about-chef .about-right img {
        width: 100%;
    }
    #about .about-chef .about-left {
        width: 38%;
        word-wrap: break-word;
    }
    #about .about-chef .about-right{
        width: 48%;
    }
    #about .about-chef .about-left h2{
        font-size: 37px;
    }
    #about .about-chef .about-left h4{
        font-size: 16px;
    }
    /* offer */
    #offer .offer-top-bottom .offer-top h2{
        font-size: 37px;
    }
    #offer .offer-top-bottom .offer-top h4{
        font-size: 16px;
    }
    #offer .offer-top-bottom .offer-bottom{
        justify-content: space-between;
    }
    #offer .offer-bottom .offer-photo3{
        display: none;
    }
    #offer .offer-top-bottom .offer-icons{
        display: none;
    }
    #offer .offer-top-bottom .offer-bottom figure img{
        width: 100%;
        height: 222px;
    }
    #offer .offer-top-bottom .offer-bottom figure figcaption p{
        font-size: 16px;
        text-align: center;
    }
    #offer .offer-top-bottom .offer-bottom figure figcaption a{
        font-size: 12px;
    }
    #offer .offer-top-bottom .offer-bottom figure{
        width: 47%;
    }
    #offer .offer-top-bottom .offer-bottom figure figcaption{
        width: 100%;
        padding-left: 65px;
        padding-right: 65px;
        overflow-wrap: break-word;
    }
    #offer .offer-top-bottom .offer-icons-tablet{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #offer .offer-top-bottom .offer-icons-tablet div{
        width: 10px;
        height: 10px;
        background-color: #cccccc;
        border-radius: 50%;
        margin-right: 12px;
    }
    #offer .offer-top-bottom .offer-icons-tablet #icon1{
        background-color: #FDA403;
    }
    /* menu */
    #menu .menu-top-bottom .menu-top h2{
        font-size: 37px;
    }
    #menu .menu-top-bottom .menu-top p{
        letter-spacing: 0px;
    }
    #menu .menu-top-bottom .menu-top{
        width: 50%;
    }
    #menu .menu-top-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #menu .menu-top-bottom .menu-bottom p{
        font-size: 16px ;
    }
    #menu .menu-top-bottom .menu-bottom span{
        font-size: 24px;
        font-weight: normal;
    }
    /* news */
    #news .news-top-bottom .news-top{
        width: 50%;
        
    }
    #news .news-top-bottom .news-top h2{
        font-size: 37px;
    }
    #news .news-top-bottom .news-top p{
        letter-spacing: 0px;
        text-align: center;
    }
    #news .news-top-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #news .news-top-bottom .news-bottom figure{
        width: 45%;
    }
    #news .news-top-bottom .news-bottom figure img{
        width: 100%;
    }
    #news .news-top-bottom .news-bottom {
        flex-wrap: wrap;
    }
    #news .news-top-bottom .news-bottom .news-figure3{
        margin-top: -90px;
    }
    #news .news-top-bottom .news-bottom figure figcaption a{
        font-size: 12px;
    }
    /* gallery */
    #gallery .gallery-top-bottom .gallery-top h2{
        font-size: 37px;
    }
    #gallery .gallery-top-bottom .gallery-top p{
        letter-spacing: 0px;
    }
    #gallery .gallery-top-bottom .gallery-top{
        width: 50%;
    }
    #gallery .gallery-top-bottom .gallery-bottom img{
        width: 226px;
        height: 226px;
    }
    #gallery .gallery-top-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* contact */
    #contact .contact-top-bottom .contact-top h2{
        font-size: 37px;
    }
    #contact .contact-top-bottom .contact-top hp{
        letter-spacing: 0px;
    }
    #contact .contact-top-bottom .contact-top{
        width: 52%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    #contact .contact-top-bottom .contact-bottom .contact-bottom-left{
        width: 54%;
    }
    #contact .contact-top-bottom .contact-bottom .contact-bottom-right{
        width: 40%;
    }
    #contact .contact-top-bottom .contact-bottom .contact-bottom-left input{
        width: 100%;
    }
    #contact .contact-top-bottom .contact-bottom .contact-bottom-right img{
        width: 210px;
        height: 140px;
    }
    #contact .contact-top-bottom .contact-bottom .contact-bottom-right p{
        line-height: 30px;
    }
    /* footer */
    footer .footer-lorem{
        width: 25.60%;
    }
    footer .footer-lorem span{
        font-size: 16px;
        color: #ffffff4d;
    }
    footer .useful-links{
        width: 14%;
    }
    footer .footer-top p{
        line-height: 25px;
        font-size: 14px;
    }







